
/* Research & Innovation - Start */

 
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}

.elementor-column {
    position: relative;
    min-height: 1px;
    display: flex;
}



 

.elementor-element-64ce9e4 >-populated {
    margin: 0px 0px 0px 76px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 76px;
    padding: 0px 0px 0px 0px;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: flex;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.elementor-element {
    --widgets-spacing: 20px 20px;
}
.elementor-element-dbe7925 {
    margin-top: 28px;
    margin-bottom: 0px;
}

.elementor-widget-wrap > {
    width: 100%;
}
.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
}
.elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
    width: 100%;
}
.elementor-element-00347b7:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-element-00347b7 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #006f43;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 10px;
    padding: 50px 50px 50px 50px;
}

.elementor-element-00347b7 >-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 10px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 10px;
    padding: 50px 50px 50px 50px;
}
.elementor:not(.elementor-bc-flex-widget)
.elementor-widget-wrap {
    display: flex;
}
.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-element .elementor-widget-container {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);
}
.elementor-element-c25bd83 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Cormorant" Sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1em;
   
}
.elementor-element-8f1b067 .elementor-heading-title {
    color: black;
    font-family: "Cormorant" Sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1em;
}
.elementor-element-3278dfe {
    color: #FFFFFF;
}
.elementor-element .elementor-widget-container {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);
}
.elementor-element-b177cc0:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-element-b177cc0 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url('../img/journey/01.jpg');
    background-position: 66% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-element-b177cc0 >-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 10px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 10px;
    padding: 0px 0px 0px 0px;
}
.elementor-element-ff701f9 {
    --spacer-size: 280px;
}
.elementor-element-ff701f9 {
    --spacer-size: 280px;
}
.elementor-column .elementor-spacer-inner {
    height: var(--spacer-size);
}
.elementor-element-dfb5df2 >-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-element-048a5c0:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-element-048a5c0 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url('../img/journey/02.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-element-048a5c0 >-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 0px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-element-f501aa5 {
    --spacer-size: 280px;
}
.elementor-element .elementor-widget-container {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);
}
.elementor-element-63041e8:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-element-63041e8 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFC53A;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 50px 50px 50px 50px;
}

.elementor-element-63041e8 >-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 0px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 0px;
    padding: 50px 50px 50px 50px;
}
.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
 
.elementor-element-6e46df0 {
    color: #292929;
}
 .elementor-element.elementor-element-00347b7 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 10px;
    padding: 50px 50px 50px 50px;
}
.elementor-column {
    width: 50%;
    position: relative;
    min-height: 1px;
    display: flex;
}
.flex_class {
    position: relative;
    min-height: 1px;
    display: flex;
}




.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
}

.elementor-kit-11 {
    --e-global-color-primary: #006f43;
    --e-global-color-secondary: #FFC53A;
    --e-global-color-text: #292929;
    --e-global-color-accent: #2B7258;
    --e-global-typography-primary-font-family: "DM Sans";
    --e-global-typography-primary-font-size: 15px;
    --e-global-typography-primary-font-weight: 400;
    --e-global-typography-secondary-font-family: "Cormorant";
    --e-global-typography-secondary-font-size: 55px;
    --e-global-typography-secondary-font-weight: 900;
    --e-global-typography-secondary-line-height: 1em;
    --e-global-typography-text-font-family: "DM Sans";
    --e-global-typography-text-font-size: 15px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "DM Sans";
    --e-global-typography-accent-font-size: 13px;
    --e-global-typography-accent-font-weight: 400;
    --e-global-typography-6773d83-font-family: "DM Sans";
    --e-global-typography-6773d83-font-size: 14px;
    --e-global-typography-6773d83-font-weight: 400;
    --e-global-typography-6773d83-text-transform: uppercase;
    --e-global-typography-6773d83-line-height: 1em;
    --e-global-typography-6773d83-letter-spacing: 2px;
    --e-global-typography-32fe580-font-family: "DM Sans";
    --e-global-typography-32fe580-font-size: 14px;
    --e-global-typography-32fe580-font-weight: 400;
    --e-global-typography-32fe580-line-height: 1.5em;
    --e-global-typography-72a2f8f-font-family: "DM Sans";
    --e-global-typography-72a2f8f-font-size: 15px;
    --e-global-typography-72a2f8f-font-weight: 500;
    --e-global-typography-72a2f8f-line-height: 1em;
    --e-global-typography-1c6eaab-font-family: "DM Sans";
    --e-global-typography-1c6eaab-font-size: 18px;
    --e-global-typography-1c6eaab-font-weight: 400;
    --e-global-typography-1c6eaab-line-height: 1.5em;
    --e-global-typography-9ba4f00-font-family: "DM Sans";
    --e-global-typography-9ba4f00-font-size: 200px;
    --e-global-typography-9ba4f00-font-weight: 900;
    --e-global-typography-9ba4f00-line-height: 1em;
    --e-global-typography-edf519d-font-family: "Cormorant";
    --e-global-typography-edf519d-font-size: 90px;
    --e-global-typography-edf519d-font-weight: 900;
    --e-global-typography-edf519d-text-transform: uppercase;
    --e-global-typography-edf519d-line-height: 1em;
    --e-global-typography-981542f-font-family: "Cormorant";
    --e-global-typography-981542f-font-size: 55px;
    --e-global-typography-981542f-font-weight: 900;
    --e-global-typography-981542f-text-transform: uppercase;
    --e-global-typography-981542f-line-height: 1em;
    --e-global-typography-3d71550-font-family: "DM Sans";
    --e-global-typography-3d71550-font-size: 60px;
    --e-global-typography-3d71550-font-weight: 600;
    --e-global-typography-3d71550-line-height: 1em;
    --e-global-typography-0f01257-font-family: "DM Sans";
    --e-global-typography-0f01257-font-size: 45px;
    --e-global-typography-0f01257-font-weight: 600;
    --e-global-typography-0f01257-line-height: 1em;
    --e-global-typography-6663b57-font-family: "Cormorant";
    --e-global-typography-6663b57-font-size: 30px;
    --e-global-typography-6663b57-font-weight: 900;
    --e-global-typography-6663b57-line-height: 1em;
    --e-global-typography-f08b87d-font-family: "Cormorant";
    --e-global-typography-f08b87d-font-size: 26px;
    --e-global-typography-f08b87d-font-weight: 900;
    --e-global-typography-f08b87d-line-height: 1.2em;
    --e-global-typography-7efc4d4-font-family: "Cormorant";
    --e-global-typography-7efc4d4-font-size: 24px;
    --e-global-typography-7efc4d4-font-weight: 900;
    --e-global-typography-7efc4d4-line-height: 1.2em;
    --e-global-typography-f155174-font-family: "Cormorant";
    --e-global-typography-f155174-font-size: 22px;
    --e-global-typography-f155174-font-weight: 900;
    --e-global-typography-f155174-line-height: 1em;
    --e-global-typography-1da3774-font-family: "Cormorant";
    --e-global-typography-1da3774-font-size: 35px;
    --e-global-typography-1da3774-font-weight: 900;
    --e-global-typography-1da3774-line-height: 1em;
    --e-global-typography-a0760d0-font-family: "Cormorant";
    --e-global-typography-a0760d0-font-size: 22px;
    --e-global-typography-a0760d0-font-weight: 900;
    --e-global-typography-a0760d0-line-height: 1em;
    --e-global-typography-20e15f3-font-family: "Cormorant";
    --e-global-typography-20e15f3-font-size: 20px;
    --e-global-typography-20e15f3-font-weight: 900;
    --e-global-typography-20e15f3-line-height: 1.2em;
    --e-global-typography-d188700-font-family: "DM Sans";
    --e-global-typography-d188700-font-size: 15px;
    --e-global-typography-d188700-font-weight: 500;
    --e-global-typography-d188700-text-transform: uppercase;
    --e-global-typography-d188700-line-height: 1em;
    --e-global-typography-d188700-letter-spacing: 4px;
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
}



.jkit-color-scheme {
    --jkit-bg-color: #ffffff;
    --jkit-border-color: #eaeaeb;
    --jkit-txt-color: #575A5F;
    --jkit-txt-h-color: #181D23;
    --jkit-txt-a-color: #0058E6;
    --jkit-txt-m-color: #96989B;
    --jkit-txt-alt-color: #ffffff;
    --jkit-form-border-color: #D5D5D7;
    --jkit-form-bg-color: transparent;
    --jkit-form-txt-color: #181D23;
    --jkit-btn-txt-color: #ffffff;
    --jkit-btn-bg-color: #0058E6;
    --jkit-btn-bg-hover-color: #0048bd;
    --jkit-selection-bg-color: #d8a600;
    --jkit-element-bg-color: #80b1ff;
    --jkit-element-darken-bg-color: #0058E6;
    --jkit-element-lighten-bg-color: #e6f0ff;
    --jkit-success-bg-color: #75ffd8;
    --jkit-success-border-color: #007f5b;
    --jkit-error-bg-color: #ffcccc;
    --jkit-error-border-color: #d60000;
}
    /* Research & Innovation - End */



    /* Gallery - Start */
 
.gallery {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.gallery1 {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.Smart_gallery figure {
    width: 250px;
    height: 280px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    margin: 0em;
}
    .Smart_gallery figure img {
        height: 280px;
        overflow: hidden;
        position: relative;
        margin: 0em;
    }
.Smart_gallery figcaption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: table;
}

.Smart_gallery figcaption div {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 20px;
    opacity: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Cormorant" sans-serif !important;
}
    .Smart_gallery figcaption a {
        text-align: center;
        position: relative;
        top: 0px;
        opacity: 0;
        color: white;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Cormorant" sans-serif !important;
    }

.Smart_gallery figcaption div:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 40%;
    text-align: center;
    margin: auto;
    width: 0%;
    height: 2px;
    background: white;
}

.Smart_gallery figure img {
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.Smart_gallery figure:first-child {
    width: 280px;
    transition: all 0.5s linear;
}
 
.Smart_gallery figure:hover {
    flex: 1.5;
    transition: all .6s ease;
}
    .Smart_gallery figure:hover figcaption {
        background: linear-gradient(180deg, #29292991 0%, #01003578 100%);
    }

.Smart_gallery figcaption:hover div {
    opacity: 1;
    top: 0;
}
.Smart_gallery figcaption:hover a {
    opacity: 1;
    top: 0px;
   
    align-content: center;
    align-items : center;
    text-align: center;
}
.Smart_gallery figcaption:hover div:after {
    width: 40%;
}

.Smart_gallery figure:hover img {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}

.flex {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    align-content: center;
    align-items: baseline;
    width: 100%;

}
 
.flex-item {
    /* margin: 15px; */
    flex: 1 1 0;
    /* width: 33.3%; */
     
}
 

    /* Gallery - End */










